@font-face {
  font-family: Sohne;
  src: url(../fonts/Sohne-Leicht.woff);
  font-weight: light;
}

body {
  margin: 0;
  background-color: #000000;
  font-family: Sohne;
  color: #fff;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.gallery-container {
  --items: 10;
  --width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: --width;
  height: calc((var(--width)/var(--items)) * (50 / var(--items)));
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  transform: translateY(-150%);
  opacity: 0;
  margin: 50px 0 25px 50px;
  transition: all 1s ease-in-out;
}

.visible-header h1 {
  transform: translateY(0);
  opacity: 1;
}

.square-gallery {
  --gap: 5px;
  display: grid;
  grid-template-columns: repeat(var(--items), 1fr);
  grid-auto-flow: row dense;
  grid-gap: var(--gap);
  width: var(--width);
  margin: 0 auto;
  border-radius: 4px;
}

.square-gallery::after {
  position: absolute;
  margin: 0;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: inherit;
  height: inherit;
  text-align: center;
  opacity: 0;
  transition: opacity 4s ease-in-out;
}

.credit::after {
  content: "ELO Films in collaboration with SXSW present";
}

.title::after {
  content: "50 Moments";
}

.fade-in::after {
  opacity: 1;
}

.gallery-item {
  position: relative;
  width: calc((var(--width) - (var(--gap) * (var(--items) - 1 ))) / var(--items));
  height: calc((var(--width) - (var(--gap) * (var(--items) - 1 ))) / var(--items)); /* To keep it square*/
  // padding-bottom: calc(var(--width) / var(--items)); /* alternate way to keep it square*/
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.25s ease-in-out;
}

@for $i from 1 through 50 {
  .gallery-item:nth-child(#{$i}) .thumbnail img {
    content: url("../thumbnails/thumbnail_#{$i}.jpg");
  }
}

.gallery-item * {
  position: absolute;
  width: inherit;
  height: inherit;
}

.gallery-item .thumbnail {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.thumbnail img {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.gallery-item .vid {
  visibility: hidden;
}

.featured-child {
  width: calc(((var(--width) - (var(--gap) * 4)) / var(--items) * 2));
  height: calc(((var(--width) - (var(--gap) * 4)) / var(--items) * 2));
  grid-row: span 2;
  grid-column: span 2;
}

.featured-child .thumbnail {
  opacity: 0;
}

.featured-child .vid {
  grid-row: span 2;
  grid-column: span 2;
  visibility: visible;
}

.gallery-item::after {
  position: absolute;
  content: " ";
  width: inherit;
  height: inherit;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.opaque::after {
  opacity: 1;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 20vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 0;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 60px 0 0;
  background-color: #ffffff;
  text-align: center;
  line-height: 1.5;
  font-size: 2em;
  color: #000000;
  cursor: pointer;
}

footer div {
  transform: translateY(150%);
  opacity: 0;
  transition: all 1s ease-in-out;
}

footer .visible-button {
  transform: translateY(0%);
  opacity: 1;
}

#modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
  background-color: rgba(0,0,0,0.85);
  z-index: 1;
}

.content-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.content-container div {
  margin: 0 25vw 0 25vw;
  text-align: center;
}

.button-container {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .square-gallery {
    --items: 2;
  }

  .featured-child {
    width: calc(var(--width) / var(--items) * 2);
    height: calc(var(--width) / var(--items) * 2);
  }
}
