@font-face {
  font-family: Sohne;
  src: url(../fonts/Sohne-Leicht.woff);
  font-weight: light;
}

body {
  margin: 0;
  background-color: #000000;
  font-family: Sohne;
}

/* Intro */
.intro {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: 1s;
}

.intro-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.intro-text {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  text-align: center;
}

.intro-text.active {
  opacity: 1;
  transition: ease-in-out 1s;
}

.intro-text.fade {
  opacity: 0;
  transition: ease-in-out 1s;
}
/* */

.body-wrapper {
  visibility: hidden;
}

header {
  // visibility: hidden;
  height: 10vh;
  display: flex;
  align-items: center;
  color: #ffffff;
}

header h1 {
  margin: 0 0 0 50px;
  animation: .5s ease-out 0s 1 slideDown;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.square-gallery {
  --items: 5;
  --width: 100vw;
  --gap: 5px;
  display: grid;
  grid-template-columns: repeat(var(--items), 1fr);
  grid-auto-flow: row dense;
  grid-gap: var(--gap);
  width: var(--width);
  margin: 0 auto;
  border-radius: 4px;
}

.gallery-item {
  display: flex;
  justify-content: center;
  width: calc((var(--width) - (var(--gap) * (var(--items) - 1 ))) / var(--items));
  height: calc((var(--width) - (var(--gap) * (var(--items) - 1 ))) / var(--items)); /* To keep it square*/
  // padding-bottom: calc(var(--width) / var(--items)); /* alternate way to keep it square*/
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease-out;
}

.gallery-item:hover {
  cursor: pointer;

.gallery-item video {
  display: none;
}

@for $i from 1 through 50 {
  .gallery-item:nth-child(#{$i}) {
    background-image: url("../thumbnails/thumbnail_#{$i}.png");
  }
}

.featured-child {
  width: calc(((var(--width) - (var(--gap) * 2)) / var(--items) * 2));
  height: calc(((var(--width) - (var(--gap) * 2)) / var(--items) * 2));
  grid-row: span 2;
  grid-column: span 2;
}

.featured-child video {
  display: block;
  width: inherit;
  height: inherit;
  grid-row: span 2;
  grid-column: span 2;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 20vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 0;
}

.button {
  // visibility: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 60px 0 0;
  background-color: #ffffff;
  text-align: center;
  line-height: 1.5;
  font-size: 2em;
  color: #000000;
  cursor: pointer;
}

#info-button {
  animation: .5s ease-out 0s 1 slideUp;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

#modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
  background-color: rgba(0,0,0,0.85);
  z-index: 1;
}

.content-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.content-container div {
  margin: 0 25vw 0 25vw;
  text-align: center;
  color: #ffffff;
}

.button-container {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .square-gallery {
    --items: 2;
  }

  .featured-child {
    width: calc(var(--width) / var(--items) * 2);
    height: calc(var(--width) / var(--items) * 2);
  }
}
